<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New trip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container" style="font-family: Poppins, sans-serif; max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px; border-radius: 5px; background-image: url('https://static.vecteezy.com/system/resources/previews/011/968/092/original/airplane-flying-in-sky-jet-plane-fly-in-clouds-airplanes-travel-and-vacation-aircraft-flight-plane-airplane-trip-to-airport-or-airline-transportation-flat-airplane-illustration-free-vector.jpg'); background-size: cover; background-position: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
    <div class="part" style="text-align: center;">
        <h2 class="text-muted my-4" th:text="${appeal}" style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 5px; color: #13006b"></h2>
        <h2 class="text-center my-4" th:text="${userName}" style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 5px; color: #13006b"></h2>
    </div>
    <div class="card" style="border: none; border-radius: 3px; padding: 10px; margin-bottom: 70px; margin-top: 150px; background-color: rgba(242, 242, 243, 0.7); backdrop-filter: blur(10px); text-align: center; color: #6c757d;">
        <p style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 2px; color: #13006b; font-size: 15px;"><span th:text="${description}"></span></p>
        <p style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 2px; color: #13006b; font-size: 15px;"><span th:text="${ticketDescriptionData1}"></span><b th:text="${from}"></b><span th:text="${ticketDescriptionData2}"></span><b th:text="${to}"></b>.</p>
        <p style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 2px; color: #13006b; font-size: 15px;"><span th:text="${dateDescription}"></span><b th:text="${tripDate}"></b>.</p>
        <p style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 2px; color: #13006b; font-size: 15px;"><span th:text="${tripPriceDescription}"></span><b th:text="${price}"></b>.</p>
        <p style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 2px; color: #13006b;"><em th:text="${emailGeneratedAutomatically}"></em></p>
        <p class="text-white" th:text="${supportTeam}" style="font-family: Poppins, sans-serif; color: #13006b;"></p>
    </div>
    <div class="card" style="font-family: Poppins, sans-serif; border: none; border-radius: 3px; padding: 10px;background-color: rgba(242, 242, 243, 0.3); backdrop-filter: blur(10px); text-align: center; color: #ffffff;">&copy; 2023 Aviasales All rights reserved.</div>
</div>
</body>
</html>