<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv=content-type content="text/html; charset=UTF-8">
    <meta http-equiv=X-UA-Compatible content=IE=8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        Aviasales </title>
</head>
<body dir=ltr style="font-family:verdana; font-size: 14px; color: #555555; line-height:21px;" id=gamma>
<div style="width: 590px;">
    <div style="background: url(https://files.fm/thumb_show.php?i=4ubu6z5ct) no-repeat;width:100%; height: 75px; display:block">
    </div>
    <div style="background: url(https://files.fm/thumb_show.php?i=b8ayrafnp) repeat-y;width:100%; display:block">
        <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 1px;">
            <div style="border-bottom: 1px solid #EDEDED;"></div>
            <div style="margin-bottom: 24px;"></div>
            <div style="margin: 20px 0px; font-size: 17px; line-height: 36px; text-align:left">
                <em th:text="${description}"></em>
            </div>
            <div style="margin-bottom: 24px;"></div>
            <div style="margin-bottom: 30px;"></div>
            <em th:text="${appeal}"></em>, <em th:text="${userName}"></em>
            <p>
                <em th:text="${description2}"></em><em th:text="${paymentInfo}"></em> <br aria-hidden=true>
            </p>
            <br aria-hidden=true>
        </div>
        <div style="text-align: center;">
        </div>
        <div style="margin-bottom:25px;"></div>
        <div style="text-align:center; min-width: 250px; max-width: 500px;">
            <hr width=30% style="display: inline-block; vertical-align: middle; min-height: 2px; background: #CBCBCB; border: none;
 margin-left: 25px">
            <span style="display: inline-block; vertical-align: middle; padding-left:10px; padding-right: 10px; text-align: center; font-size: 14px;
            line-height: 21px; color: #616161;">
 </span><em th:text="${description3}"></em>
            <hr width=30%
                style="display:inline-block; vertical-align: middle; min-height: 2px; background: #CBCBCB; border: none;">
        </div>
        <table role=presentation align=center cellspacing=3D10px style="font-size: 14px; line-height: 21px; min-width: 250px;
        max-width: 400px;">
            <tr>
                <td align=right style=font-weight:bold;>
                <span dir=ltr>
                <em th:text="${amountDescription}"></em><em th:text="${amountPayable}"></em>
                </span>
                </td>
            </tr>
            <tr>
                <td align=right style=font-weight:bold;>
                <span dir=ltr>
                <em th:text="${dateDescription}"></em><em th:text="${paymentDate}"></em>
                </span>
                </td>
            </tr>

        </table>
        <div align=center>
                <span dir=ltr>
                    <p><br aria-hidden=true><em th:text="${grateful}"></em></p>
                </span>
        </div>

        <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 1px;">
            <div style="border-bottom: 1px solid #EDEDED;"></div>
            <div style="margin-bottom: 24px;"></div>
        </div>
        <div style="font-size: 10px; line-height: 15px;color: #707070;">
            <br aria-hidden=true><br aria-hidden=true>
            <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 1px;">
                <div style="font-size: 10px; line-height: 15px; text-align: center;">
                    Aviasales
                </div>
            </div>
        </div>
    </div>

</div>
<div style="background: url(https://files.fm/thumb_show.php?i=djnp6w5ts) no-repeat;width:100%; height: 50px; display:block">
</div>
</body>
</html>