<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <meta http-equiv=content-type content="text/html; charset=UTF-8">
    <meta http-equiv=X-UA-Compatible content=IE=8>
    <title>
        Aviasales </title>
</head>
<body dir=ltr style="font-family:verdana; font-size: 14px; color: #555555; line-height:21px;" id=gamma>
<div style="width: 590px;">
    <div style="background: url(img/email_top.png) no-repeat;width:100%; height: 75px; display:block">
    </div>
    <div style="background: url(img/email_mid.png) repeat-y;width:100%; display:block">
        <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 1px;">
            <div style="border-bottom: 1px solid #EDEDED;"></div>
            <div style="margin-bottom: 24px;"></div>
            <div style="margin: 20px 0px; font-size: 17px; line-height: 36px; text-align:left">
                Aviasales payment status:
            </div>
            <div style="margin-bottom: 24px;"></div>
            <div style="margin-bottom: 30px;"></div>
            Dear, ${name}!<p>
            System declined your payment card. ${paymentInfo} <br aria-hidden=true>
            <br aria-hidden=true>
        </div>
        <div style="text-align: center;">
        </div>
        <div style="margin-bottom:25px;"></div>
        <div style="text-align:center; min-width: 250px; max-width: 500px;">
            <hr width=30% style="display: inline-block; vertical-align: middle; min-height: 2px; background: #CBCBCB; border: none;
 margin-left: 25px">
            <span style="display: inline-block; vertical-align: middle; padding-left:10px; padding-right: 10px; text-align: center; font-size: 14px;
            line-height: 21px; color: #616161;">
 </span>DESCRIPTION HERE
            <hr width=30% style="display:inline-block; vertical-align: middle; min-height: 2px; background: #CBCBCB; border: none;">
        </div>
        <table role=presentation align=center cellspacing=3D10px style="font-size: 14px; line-height: 21px; min-width: 250px;
        max-width: 400px;">
            <tr>
                <td align=right style=font-weight:bold;>
                <span dir=ltr>
                Amount payable: ${amountPayable}
                </span>
                </td>
            </tr>
            <tr>
                <td align=right style=font-weight:bold;>
                <span dir=ltr>
                Date: ${paymentDate}
                </span>
                </td>>
            </tr>
        </table>
        <div align=center>
                <span dir=ltr>
                    <p><br aria-hidden=true>Thank you!</p>
                </span>
        </div>

        <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 1px;">
            <div style="border-bottom: 1px solid #EDEDED;"></div>
            <div style="margin-bottom: 24px;"></div>
        </div>
        <div style="font-size: 10px; line-height: 15px;color: #707070;">
            <br aria-hidden=true><br aria-hidden=true>
            <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 1px;">
                <div style="font-size: 10px; line-height: 15px; text-align: center;">
                    Aviasales
                </div>
            </div>
        </div>
    </div>

</div>
<div style="background: url(img/email_bottom.png) no-repeat;width:100%; height: 50px; display:block">
</div>
</body>
</html>